<ul class="navbar-nav ms-auto flex-column flex-md-row align-items-md-center">

  {% for item in main_menu %}
    
    {% if item.below %}
      <!-- Item com dropdown -->
      <li class="nav-item dropdown">
        <a 
          class="nav-link dropdown-toggle text-secondary {{ item.in_active_trail ? 'active text-dark' : '' }}" 
          href="{{ item.url }}" 
          id="menu-{{ loop.index }}"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ item.title }}
        </a>

        <ul class="dropdown-menu shadow">
          {% for subitem in item.below %}
            <li>
              <a class="dropdown-item" href="{{ subitem.url }}">
                {{ subitem.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>

    {% else %}
      <!-- Item simples -->
      <li class="nav-item">
        <a 
          class="nav-link text-secondary {{ item.in_active_trail ? 'active text-dark' : '' }}" 
          href="{{ item.url }}"
        >
          {{ item.title }}
        </a>
      </li>
    {% endif %}

  {% endfor %}

</ul>