{#
/**
 * @file
 * Pagination with icons and page numbers.
 */
#}
{% if items %}
	<nav class="pager" role="navigation" aria-labelledby="pagination-heading">
		<h4 id="pagination-heading" class="sr-only">{{ 'Pagination'|t }}</h4>

		{# Previous Button #}
		{% if items.previous %}
			<a href="{{ items.previous.href }}" class="pager__item pager__item--prev" title="{{ 'Previous'|t }}">
				<svg fill="none" stroke="currentColor" viewbox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
				</svg>
			</a>
		{% endif %}

		{# Page Numbers #}
		{% for key, item in items.pages %}
			{% if current == key %}
				<span class="pager__item pager__item--active">{{ key }}</span>
			{% else %}
				<a href="{{ item.href }}" class="pager__item pager__item--page">{{ key }}</a>
			{% endif %}
		{% endfor %}

		{# Next Button #}
		{% if items.next %}
			<a href="{{ items.next.href }}" class="pager__item pager__item--next" title="{{ 'Next'|t }}">
				<svg fill="none" stroke="currentColor" viewbox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
				</svg>
			</a>
		{% endif %}

	</nav>
{% endif %}
